.keyBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 70px auto;
    gap: 10px;
    width: 72%;
}

.keyBoard button{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.keyBoard button:disabled{
    cursor: not-allowed;
}